.container {
  z-index: 99;
  .input-search {
    padding: 5px;
    border-radius: 6px;
    margin-left: -10px;
    width: 200px;
    border: solid 1px gray;
  }
  .containerResult {
    position: absolute;
    z-index: 99;
    background-color: white;
    border-radius: 6px;
    border-top-width: 0px;
    border: solid 1px gray;
    margin-bottom: 0px;
    margin-top: 5px;
    padding-bottom: 4px;
    width: 200px;
    margin-left: -10px;

    .selected {
      background: rgb(170, 170, 216);
      padding: 5px 5px;
    }
    .result {
      padding: 5px 5px;
    }
    .result:hover {
      background: rgb(211, 211, 218);
      cursor: pointer;
    }
  }
}
